<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="中谷业务系统页面设计.Properties.Settings.testmaindb2ConnectionString" connectionString="Data Source=172.16.1.52,1433;Initial Catalog=testmaindb2;Persist Security Info=True;User ID=zggftest" providerName="System.Data.SqlClient" />
    <add name="testmaindb2Entities" connectionString="metadata=res://*/保证金管理.csdl|res://*/保证金管理.ssdl|res://*/保证金管理.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.52,1433;initial catalog=testmaindb2;persist security info=True;user id=zggftest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="testmaindb2Entities1" connectionString="metadata=res://*/保证金管理.csdl|res://*/保证金管理.ssdl|res://*/保证金管理.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.52,1433;initial catalog=testmaindb2;persist security info=True;user id=zggftest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="testmaindb2Entities2" connectionString="metadata=res://*/保证金管理.csdl|res://*/保证金管理.ssdl|res://*/保证金管理.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.52,1433;initial catalog=testmaindb2;persist security info=True;user id=zggftest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>